/* BASIC RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  outline: none;
}

body {
  color: #3b3a3a;
  font-size: 16px;
}

img {
  max-width: 100%;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  position: absolute;
}

:-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #000;
  -webkit-box-shadow: inset 0 0 0 transparent;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* BASIC STYLES */

a.nav-link {
  text-decoration: none;
}

h1.title {
  font-weight: 400;
  font-size: 2rem;
}

h1.title:after {
  content: '';
  display: block;
  width: 45px;
  margin: 10px auto;
  background: #3b3a3a;
  height: 3px;
}

/* LAYOUT */

body {
  width: 100%;
  font-size: 16px;
  min-width: 100vw;
  border: 5px solid #b595ff;
}

.main {
  width: 100%;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  left: 10%;
  background: #e8ebf2;
  height: 100vh;
  top: 0;
  /* bottom: 0; */
  right: -3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14% 10%;
  transition: left .2s ease-in-out, padding .2s ease-in-out;
}

.sidebar.inactive {
  left: 100%;
  padding: 0;
  right: 0;
}

.sidebar.inactive * {
  display: none;
}

.close {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  padding: 0.8em 0.7em 0.3em 0.6em;
  margin: -0.5em;
  top: 36px;
  position: fixed;
  z-index: 999;
  right: 35px;
  background: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  transition: all .3s ease-in-out;
}

.close.active {
  right: 74%;
  top: 43px;
  background: transparent;
}

.close.active .c {
  background: #353535;
}

.close .c {
  cursor: pointer;
  width: 30px;
  height: 3px;
  margin-bottom: 8px;
  background: #353535;
  transform-origin: 15px 0;
  transition: all .2s;
}

.close.active .c {
  margin: 0;
  display: block;
}

.close.active .c:first-child {
  transform: rotate(45deg);
}

.close.active .c:last-child {
  transform: rotate(135deg);
}

/* NAV */

.sidebar nav a {
  display: block;
  font-size: 1.4rem;
  margin: 0 0 10px 0;
  color: #838994;
}

.sidebar nav a.active {
  color: #333333;
}

.sidebar .social .divider svg {
  width: 50px;
}

.sidebar .social .icons {
  margin-top: 20px;
}

.sidebar .social .icons a {
  text-decoration: none;
  display: inline-block;
  margin-right: 18px;
}

.sidebar .social .icons svg {
  width: 35px;
}

/* Main Layout */

.main .logo {
  padding: 30px 15px;
  font-size: 1.4rem;
}

.main .logo span {
  display: none;
}

/* SECTION: Intro */

section.intro {
  padding: 15px;
}

section.intro .image {
  width: 70vw;
  margin: auto;
  position: relative;
}

section.intro img {
  transform: matrix(1, 0, 0, 1, 1.38462, -1.78606);
  width: 70vw;
  display: block;
  margin: auto;
}

section.intro .text {
  margin-top: 40px;
  text-align: center;
}

section.intro .text p {
  margin-top: 20px;
  line-height: 1.5;
}

section.intro .texture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1rem;
  left: -0.5rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOklEQVQoU43MSwoAMAgD0eT+h7ZYaOlHo7N+DNHL2HAGgBWcyGcKbqTghTL4oQiG6IUpOqFEC5bI4QD8PAoKd9j4XwAAAABJRU5ErkJggg==);
  transform: matrix(0.99998, 0.00483, -0.00483, 0.99998, -4.15385, 3.57212);
}

section.projects {
  margin-top: 25px;
  padding: 30px 25px;
  background: #f9f9f9;
}

section.projects h1,
section.miscellaneous h1 {
  text-align: center;
}

section.projects .lists .project {
  margin: 35px auto;
}

section.projects .lists .project .text {
  text-align: center;
}

section.projects .lists .project .text h2 {
  font-weight: 400;
  margin: 15px 0;
}

section.projects .lists .project .text .label {
  background: #b09ef1;
  padding: 4px 5px;
  border-radius: 5px;
  font-size: 0.95rem;
  margin-right: 10px;
  margin-top: 10px;
}

section.projects .lists .project .text .tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section.projects .lists .project .text .button {
  display: inline-block;
  padding: 10px;
  border: 1.5px solid #414fb3;
  margin: 25px auto;
  text-decoration: none;
  color: #414fb3;
  text-transform: uppercase;
  font-weight: 500;
}

section.projects .more p {
  text-align: center;
  line-height: 1.5;
  font-size: 1.2rem;
}

section.projects .more p a {
  text-decoration: none;
  color: #6e58bd;
}

section.projects .more p a:hover {
  text-decoration: underline;
}

section.miscellaneous {
  padding: 30px 25px;
  text-align: center;
}

section.miscellaneous .group h2 {
  font-weight: 400;
  margin: 15px 0;
}

section.miscellaneous .group {
  line-height: 1.6;
  padding: 16px 15px;
  margin: 25px 0;
  background: #fbfafa;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
}

section.miscellaneous .group ul {
  list-style: none;
  font-size: 1.1rem;
}

section.social {
  padding: 30px 25px;
  text-align: center;
}

section.social .group {
  margin-top: 20px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 50px;
  text-align: left;
}

section.social .group a {
  flex-basis: 50%;
  margin-bottom: 20px;
  font-size: 1.11rem;
  max-width: 50%;
  text-decoration: none;
  color: #3b3a3a;
  transition: all .2s;
}

section.social .group a:hover {
  text-decoration: underline;
  color: #6e58bd;
}

section.social .group a:nth-child(2n) {
  text-align: right;
}

section.social .email a {
  color: #6e58bd;
  text-decoration: none;
}

section.social .email {
  font-size: 1.12rem;
  line-height: 1.5;
}

footer {
  padding: 15px;
  text-align: center;
  background: #d1befd;
}

/* RESPONSIVE */

/* Tablets or greater */

@media only screen and (min-width: 768px) {
  h1.title::after {
    margin: 10px 0;
  }
  .main .logo {
    padding: 30px 35px;
  }
  .sidebar {
    left: 60%;
    padding: 6%;
  }
  .close.active {
    right: 31%;
  }
  .close {
    right: 42px;
  }
  section.intro {
    padding: 15px 35px;
    display: flex;
    align-items: center;
  }
  section.intro .text {
    margin-top: 0;
    margin-left: 30px;
    text-align: left;
  }
  section.intro .text p {
    font-size: 1.2rem;
  }
  section.intro img {
    width: 250px;
  }
  section.projects h1,
  section.miscellaneous h1,
  section.social h1 {
    text-align: left;
  }
  section.projects,
  section.miscellaneous,
  section.social {
    padding-left: 35px;
    padding-right: 35px;
  }
  section.projects .lists .project {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 100px 0;
  }
  section.projects .lists .project:nth-child(1) {
    margin-top: 55px;
  }
  section.projects .lists .project:nth-child(2n) {
    flex-direction: row-reverse;
  }
  section.projects .lists .project img {
    width: 50vw;
  }
  section.projects .lists .project .text {
    width: 100%;
  }
  section.miscellaneous .groups {
    display: flex;
    justify-content: space-between;
  }
  section.miscellaneous .group {
    width: 23%;
  }
  section.social .group {
    padding: 10px 0;
  }
  section.social .group a:nth-child(2n) {
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  section.intro img {
    width: 300px;
  }
  .main .logo,
  section.intro,
  section.projects,
  section.miscellaneous,
  section.social {
    padding-left: 100px;
    padding-right: 100px;
  }
  .main .logo span {
    display: inline-block;
  }
  section.intro .texture {
    width: 300px;
    left: 1.5rem;
  }
  section.projects .lists .project .text .button {
    transition: all .35s;
  }
  section.projects .lists .project .text .button:hover {
    background: #414fb3;
    color: #fff;
  }
  section.projects {
    padding-top: 50px;
  }
}
